<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<title>Reviews</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.checked {
  color: orange;
}
</style>
<body class="w3-light-grey">
<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <div class="w3-row-padding">
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img th:src="@{/images/{image}(image=${poster})}" style="width:100%" alt="Movie Poster">
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-film fa-fw w3-margin-right w3-large w3-text-teal"></i>[[${title}]]</p>
                    <p><i class="fa fa-bullhorn fa-fw w3-margin-right w3-large w3-text-teal"></i>[[${director}]]</p>
                    <p><i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text-teal"></i>[[${release}]]</p>
                </div>
            </div><br>
        </div>
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-newspaper-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>[[${numberOfReviews}]] Reviews</h2>
                <hr>
                <div class="w3-container" th:each="review : ${reviews}">
                    <h5 class="w3-opacity"><b>[[${review.reviewer}]]</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span th:text="${#temporals.format(review.date,'dd-MMMM-yyyy HH:mm')}">
                        </span>&nbsp;&nbsp;<span th:class="(${review.rating} > '0' )? 'fa fa-star' : 'fa fa-star-o'"></span>
                        <span th:class="(${review.rating} > '1' )? 'fa fa-star' : 'fa fa-star-o'"></span>
                        <span th:class="(${review.rating} > '2' )? 'fa fa-star' : 'fa fa-star-o'"></span>
                        <span th:class="(${review.rating} > '3' )? 'fa fa-star' : 'fa fa-star-o'"></span>
                        <span th:class="(${review.rating} > '4' )? 'fa fa-star' : 'fa fa-star-o'"></span>
                    </h6>
                    <p>[[${review.comment}]]</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Add Review</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>[[${today}]]</h6>
                    <form action="/ui/movies/addReview" method="post" target="_self">
                        <input type="text" id="title" name="title" th:value="${title}" hidden>
                        <table>
                            <tr><td>Name</td><td><input type="text" id="reviewer" name="reviewer" min="1" max="5" size="30"></td></tr>
                            <tr><td>Rating</td><td><input type="number" id="rating" name="rating" min="1" max="5"></td></tr>
                             <tr><td>Comment</td><td><textarea id="comment" name="comment" cols="70%" rows="3"></textarea></td></tr>
                             <tr><td></td><td><input type="submit" value="Submit"></td></tr>
                        </table>
                    </form>
                    <hr>
                    <div th:if="${msg!=null}">
                        <h5 class="w3-opacity"><b>[[${msg}]]</b></h5>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p><a href="https://github.com/803183993/RDSAndS3WithSpringBootDemo" target="_blank">Download project from GitHub</a></p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>&#169;Amdad Choudhury</p>
</footer>

</body>
</html>
